html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: "Georgia", serif;
    width: 100%;
}


.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    align-items: center;

}

.Subscribe {
    display: inline;
    background-color: rgb(150, 49, 0);
    padding: 5px;
    border-radius: 0.5rem;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
    font-weight: 600;




}

.griddroite {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    align-items: center;
}

.contenu {
    padding-left: 15px;
    padding-right: 15px;
}

.carte {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 9px;
}

img {
    position: relative;
    margin: auto;
    width: 300px;
}

.breadcrumb {
    margin-bottom: 30px;
    margin-top: 20px;
}

.breadcrumb-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.75rem;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
}

.link {
    text-decoration: none;
    color: #666;
}

.scienceTech {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
    background-color: #fed7aa;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.5rem;
}

h1 {
    margin-top: 10px;
    font-size: clamp(1.5rem, 2.1vw, 2rem);
    font-weight: 800;
}

.Actions {
    padding-right: 10px;
    border: 1px solid #ddd;
    color: #14599d;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.75em 1.25em;
    background-color: transparent;
    border-radius: 0.5rem;
    margin-left: 10px;
    display: flex;
    text-align: center;
    vertical-align: center;
    align-items: center;
}

.bottom {
    margin-top: 5px;
    font-size: .75rem;
    line-height: 1.2rem;
}

.caption {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.75rem;
    font-style: italic;
    color: #666;
}

.infosArticle {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 12px;
    color: #4d4d4d;
}

.infosArticle span {
    color: #14599d;
    text-decoration: underline dotted;
}

.tableOfContents {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14599d;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;

}

.listenToArticle {
    width: 100%;
    box-shadow: var(--box-shadow, 0 -2px 8px 0 hsla(207, 5%, 52%, .09), 0 4p);
    height: 55px;
    display: flex;
    align-items: center;
}

.playButton {
    margin: 0px 5px 0px 0px;
}


.listenToArticle>div>span {
    margin: 0px 10px 0px 0px;
    font-family: sans-serif;
    font-size: 16px;
}

.listenToArticle>div>span:nth-child(2) {
    color: #3c4043;
    opacity: 0.8;
}

.introduction {
    font-size: 1.125rem;
    line-height: 1.6;
    word-wrap: break-word;
    margin-bottom: 16px;
}

.introduction a {
    color: #14599d;
}

.introduction a[href="https://www.britannica.com/dictionary/credited"] {
    text-decoration: underline dotted;
}

.contenuCarte {
    padding: 20px
}

.card {
    border: 1px solid #ddd;
}

div.contenuCarte>p {
    color: #14599d;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.informationsPersos {
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 14px;
}

.informationsPersos p {
    margin-bottom: 10px;
}

.informationsPersos span {
    color: #14599d;
}

div.contenuCarte button {
    margin-top: 20px;
    text-align: center;
    color: #135392;
    background-color: transparent;
    border: 1px solid #ddd;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
    padding: 10.5px 17.5px;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-weight: 600;
    justify-self: center;
    position: relative;
    margin: auto;
}

figure {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 0.5rem;
}

figcaption {
    font-size: 14px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
}